#input {
    border-right: 10px solid #000;
    animation: cursorblink 1.3s cubic-bezier(.215, .61, .355, 1) forwards infinite;
    caret-color: transparent;
    height: calc(1rem - 2px);
}

#input:focus,
#input:active {
    outline: none;
}

@keyframes cursorblink {
    50% {
        border-color: white;
    }
}

.intro1.true {
    opacity: 0;
    animation-name: delay;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes delay {
    100% {
        opacity: 1;
    }
}

#intro2.false {
    display: none;
}