.folder {
    width: 170px;
    height: 170px;
}

.folder:hover {
    outline: 2px solid blue;
}

.folder_name {
    font-size: 1rem;
    margin-top: -5px;
    font-family: "Roboto Mono";
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 2px rgb(128, 128, 128);
}